body {  background-color: #161618}
  .CM1  { 
        height:2000px;
        width: 1000px; 
        background-color:#101010;
        margin-bottom: 100px;
        margin-top: 50px;
        margin-left: 170px;    
        border-radius: 8px;
        position: absolute;}
  .CM2{
        height:100px;
        width: 1000px; 
        background-color:#000000;       
        margin-top: 30px;
        margin-left: 170px;             
        border-radius: 8px;
        position: absolute;}
  .CM3{
        height:60px;
        width: 1000px; 
        background-color:#2b2b2b;       
        margin-top: 70px;
        margin-left: 170px;             
        border-radius: 2px;
        position: absolute;
        box-shadow: 0px 10px 20px 0px #000000;}
 .God
 {      height:530px;
        width: 980px;
        margin-top: 70px;
        margin-left: 10px;             
        border-radius: 2px;
        position: absolute;
        opacity: 70%;
        box-shadow: 0px 10px 10px 0px #000000;}
    
